<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>欢迎！</title>

    <!-- Bootstrap -->
    <link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #middle {
            float: none;
            display: inline-block;
            vertical-align: middle;
        }

        div {
            text-align: center
        }
    </style>
</head>
<!--<div>
    <h1>你好，世界！</h1>

    <h2>2019年701电影清单</h2>

</div>-->
<table data-toggle="table" class="m-auto">


    <thead>
    <tr>
        <th>电影名称</th>
        <th>简介</th>
        <th>豆瓣链接</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr>
        <td>123</td>
        <td><a href="http://baidu.com">链接</a></td>
        <td>123</td>
    </tr>-->
        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td><a href={{ row[2] }}>链接</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap-table.js')}}"></script>
<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">-->

<!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>-->
<!--&lt;!&ndash; Latest compiled and minified Locales &ndash;&gt;-->
<!--<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/locale/bootstrap-table-zh-CN.min.js"></script>-->
</html>
